




.table-container {
    max-height: 60vh;
    overflow-y: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    position: relative;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #b40404;
    color: white;
    padding: 12px;
    text-align: left;
    position: sticky;
    top: 0; /* Keeps the header fixed at the top */
    z-index: 2; /* Ensures the header stays above the table rows */
}

td {
    padding: 12px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Button Styles */
.btn {
    background-color: #43AC39;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #1e4618;
}

.btn-remove {
    background-color: #b40404;
}

.btn-remove:hover {
    background-color: #ff7f7f;
    box-shadow: 0 0 10px rgba(255, 127, 127, 0.5);
}
/* Header Content Styling */


/* Search Bar Styling */
.search-bar {
    width: 250px;
    padding: 10px;
    border: 1px solid #00000092;
    border-radius: 5px;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
}

.search-bar:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btn-search {
    background-color: #43AC39;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-left: 5px;
}

.btn-search:hover {
    background-color: #1e4618;
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    .main-content {
        margin-left: 5%;
        padding: 80px 15px 15px;
    }

   
    ul li {
        display: inline-block;
        padding: 10px;
    }

    ul li a {
        padding: 5px 10px;
    }

    .header {
        flex-direction: column;
        line-height: normal;
        padding: 15px;
    }

    table, th, td {
        font-size: 14px;
    }

    .btn {
        width: 100%;
        padding: 10px 0;
    }
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        width: 100%;
        margin-top: 10px;
    }

    .btn-search {
        width: 100%;
        margin-top: 10px;
    }
}

