body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

/* Whitebox styling */
.whitebox 
{
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 100px;
    width: 1000px;
    height: 650px;
    margin-left: 400px; 
    margin-top: 30px;
}

/* Button container styling */
.button-container 
{
    display: flex;
    justify-content: flex-end;

    gap: 10px; /* Space between buttons */
}

/* Button styling */
.btn {

    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
}

/* Primary button styling */
.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Secondary button styling */
.btn-secondary {
    background-color: #5a6268;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Tertiary button styling */
.btn-tertiary {
    background-color: #28a745;
}

.btn-tertiary:hover {
    background-color: #218838;
}
.whitebox p 
{
    font-size: 20px;
    margin-top: -70px;
    display: flex;
    justify-content: center;
}
.student-modal, .teacher-modal , .parent-modal 
{
    display: none; /* Hide modals by default */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.student-content, .teacher-content , .parent-content
{
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    font-size: 19px;
    height: 69%;
}
.hello
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 8% 37%;
    gap:2px;
    font-size: 19px;
}
.close-student , .close-teacher , .close-parent
{
    color: #aaa;
    margin-left: 90%;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-student:hover , .close-teacher:hover , .close-parent:hover
{
    color: black;
    text-decoration: none;
}
table 
{
    width: 100%;
    border-collapse: collapse;
    margin: 2% auto;
    
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
    text-align: left;
}
.filter-container
{
    display: flex;
    gap: 5px;
}